body {
    background-color: #B0C4DE;
}

.calculator-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Courier New', Courier, monospace;
}

.display {
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
    border: 4px solid black;
    padding-right: 10px;
    font-size: 40px;
    background-color: #92a5db;

}

.button-row {
    display: grid;
    grid-template-columns: repeat(4, 120px);
}

.button {
    border: 2px solid black;
    font-size: 40px;
    height: 80px;
    width: 120px;
    line-height: 80px;
    text-align: center;
    box-sizing: border-box;
    transition: background-color 0.2s;
}
.exponent-button{
    line-height: 60px;
}
.testing {
    font-size: 20px;
}

.back-button,
.sign-button,
.equals-button,
.exponent-button {
    background-color: #4682B4;
}

.back-button:hover,
.sign-button:hover,
.equals-button:hover,
.exponent-button:hover {
    background-color: #77afdd;
}

.num-button,
.clear-button,
.decimal-button {
    background-color: rgba(0, 71, 171, 0.7);
}

.num-button:hover,
.clear-button:hover,
.decimal-button:hover {
    background-color: rgba(0, 71, 171, 0.5);
}

.operator-button {
    background-color: rgba(61, 89, 171, 0.7);
}

.operator-button:hover {
    background-color: #80b3ff;
}